---
import "../styles/main.scss";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  pageTitle: string;
}
const pageTitle = "Hentges.AI";
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Styles-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>

  <body>
    <Header site_title={pageTitle} />
    <slot />
    <Footer />
  </body>
</html>
